.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btn {
  font-weight: 600;
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.btn:active {
  animation-name: buttonClick;
  animation-duration: 0.3s;
}

.btn:hover {
  color: green;
  transition: background-color 0.3s ease;
}

@keyframes buttonClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
