.container {
  width: 400px;
}

.input {
  display: flex;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.name {
  font-size: 18px;
}

.btn {
  background: #fff;
  border: 1px solid rgba(5,5,5,.2);
  border-radius: 5px;
  color: red;
  cursor: pointer;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  transition: background-color var(--trans-hv);
}

.btn:hover {
  background-color: red;
  color: #fff;
}
